mixin footer
  .contact
    #map
    .contactInfo
      .skew
        .wrappContact
          h4.title Контакты
          address
            .addresstitle Наш адрес
            p 115280, г. Москва
            p ул. Ленинская Слобода, д. 19,
            p БЦ «Омега Плаза»
            .addresstitle Телефон для связи
            a.phone(href="74956096080") +7 (495) 609-60-80
            .addresstitle Почта
            a.email(href="") info@mfmg.ru
  footer.footer
    .wrappContent.flexB
      .copyright © 2016 MFMG - Все права защищены