mixin header
  header.header
    .wrappContent.flexB
      a.logo(href="")
        img(src="images/logo.png", alt="")
      .address
        a.phone(href="tel:+74956096080")  +7 (495) 609 60 80
        a.email(href="mailto:info@mfmg.ru") info@mfmg.ru

