mixin sectionForth
  .sectionForth
    .skew
      .wrappContent
        .massMedia
          .title
            h2 СМИ о нас
            svg.line#orange(viewBox="0 0 91 18")
              path(d='M1079.94 3625.26L989.062 3610.15L989.062 3608.84L1079.94 3623.9500000000003Z ', fill='#dc812e', transform='matrix(1,0,0,1,-989,-3608)')
          .thumbnailWrapp
            img(src="images/upload/brends/plas.jpg", alt="plas")
          .desc
            h4.date Журнал ПЛАС-Форум, 12.01.2015 г.
            a.link(href="" target="_blank") Развитие ДБО: технологические катализаторы от MFMSolutions
            p Как показывает практика, дистанционное банковское обслуживание сегодня является одним из немногих направлений, где спрос прогрессирует более интенсивно, чем технологические возможности банков. Неслучайно внимание участников про-шедшего в июне 6-го Международного ПЛАС-Форума «Дистанционные сервисы, мобильные решения, карты и платежи 2015» было сфокусировано, в том числе, на Универсальной платформе ДБО MFMSolutions и ряде других решений, которые представила на своем выставочном стенде компания ОСК
        .news
          .title
            h2 Новости
            svg.line#orange(viewBox="0 0 91 18")
              path(d='M1079.94 3625.26L989.062 3610.15L989.062 3608.84L1079.94 3623.9500000000003Z ', fill='#dc812e', transform='matrix(1,0,0,1,-989,-3608)')
          .listNews
            .new
              .date 08.10.2016
              a.link(href="" target="_blank") Развитие ДБО: технологические катализаторы от MFMSolutions
            .new
              .date 08.10.2016
              a.link(href="" target="_blank") Развитие ДБО: технологические катализаторы от MFMSolutions
            .new
              .date 08.10.2016
              a.link(href="" target="_blank") Развитие ДБО: технологические катализаторы от MFMSolutions


