mixin sectionThird
  .sectionThird
    .wrappContent
      h2 Клиенты о нас
      .description
        .brend
          img(src="images/upload/brends/alfaBank.jpg", alt="alfa-Bank")
        .desc
          p Выражаем благодарность ООО «ОСК» за отличное качество предоставляения сервиса, высокий и оперативный уровень обслуживаний нештатных ситуаций. Выражаем благодарность ООО «ОСК» за отличное качество предоставляения сервиса, высокий  и оперативный уровень обслуживаний нештатных ситуаций.
        .authorInfo
          .name С. А. Меднов
          .textInof
            p Член правления, руководитель блока «Информационные технологии» Альфабанк
        .counter
          span.active 1
          span /10
        .avatar
          img(src="images/upload/brends/avatar1.jpg", alt="avatar1")