mixin sectionSecond
  .sectionSecond
    .skew
      .wrappContent
        .title
          h2 Компании группы
          svg.line#blue(viewBox="0 0 91 18")
            path(d='M1079.94 3625.26L989.062 3610.15L989.062 3608.84L1079.94 3623.9500000000003Z ', fill='#dc812e', transform='matrix(1,0,0,1,-989,-3608)')
        .groupCompany
          .flexB
            .company
              .wrappImg
                img(src="images/upload/brends/domopult.jpg", alt="Domopult")
              .description
                .link Domopult
                .desc
                  p Сервис по взаимодействию управляющей компании с собственниками/арендаторами недвижимости
            .company
              .wrappImg
                img(src="images/upload/brends/spent.jpg", alt="Spent")
              .description
                .link Spent
                .desc
                  p Сервис для ведения и классифицирования личных и корпоративных расходов
            .company
              .wrappImg
                img(src="images/upload/brends/mobicont.jpg", alt="Mobicont")
              .description
                .link Mobicont
                .desc
                  p Разработка технологических решений в области управления SMS/MMS/IVR/USSD трафиком и банковской сфере
            .company
              .wrappImg
                img(src="images/upload/brends/mobicont.geo.jpg", alt="Mobicont.Geo")
              .description
                .link Mobicont.Geo
                .desc
                  p Специализируется на геопозиционировании абонентов подвижных сетей связи
            //- -----------------------------------------------------------------
            .company
              .wrappImg
                img(src="images/upload/brends/advisa.jpg", alt="Advisa")
              .description
                .link Advisa
                .desc
                  p Мобильное приложение для категоризации расходов, SMS-информирования для банков и marketplace для торговых компаний
            .company
              .wrappImg
                img(src="images/upload/brends/mfmsolutions.jpg", alt="MFMS")
              .description
                .link MFMS
                .desc
                  p Транзакционные сервисы информационного и рекламного характера для компаний финансового, страхового и сетевого секторов
            .company
              .wrappImg
                img(src="images/upload/brends/threads.jpg", alt="Threads")
              .description
                .link Threads
                .desc
                  p Решение для контактных центров, ориентированных на поддержку клиентов в чатах и мессенджерах
            .company
              .wrappImg
                img(src="images/upload/brends/jeffift.jpg", alt="Jeffit")
              .description
                .link Jeffit
                .desc
                  p Электронный помощник управления юридической службой