mixin sectionFirst
  .sectionFirst
    +header
    .wrappContent
      .description
        h1
          span Mobile Finance
          span Management Group
        .desc
          p группа компаний, создающая пользовательские мобильные решения и отраслевые решения для автоматизации бизнес процессов на стыке телекоммуникаций и IT-технологий
        .infoCompany.flexB
          .info
            .number
              span 11
              span лет на рынке
          .info
            .number
              span 8
              span компаний в группе
          .info
            .number
              span 300+
              span внедрений продуктов компаний
