mixin sectionThird
  .sectionThird
    .wrappContent
      h2 Клиенты о нас
      .description
        .brend
          img(src="images/upload/brends/alfaBank.jpg", alt="alfa-Bank")
        .desc
          p Выражаем благодарность ООО «ОСК» за отличное качество предоставляения сервиса, высокий и оперативный уровень обслуживаний нештатных ситуаций. Выражаем благодарность ООО «ОСК» за отличное качество предоставляения сервиса, высокий  и оперативный уровень обслуживаний нештатных ситуаций.
        .authorInfo
          .name С. А. Меднов
          .textInof
            p Член правления, руководитель блока «Информационные технологии» Альфабанк
        .counter
          span.active 1
          span /
          span 10

  .sliderUser
    .skew
      .wrappContent
        .user
          .avatarUser
            img(src="images/upload/brends/avatar1.jpg", alt="avatar1")
          .title
            .nameUser Антон Шишковский
            .positionUser IT-директор компании MFMSolutions
            svg.line#blue(viewBox="0 0 91 18")
              path(d='M1079.94 3625.26L989.062 3610.15L989.062 3608.84L1079.94 3623.9500000000003Z ', fill='#dc812e', transform='matrix(1,0,0,1,-989,-3608)')
        .description.flexB
          .leftText
            p Mobile Finance Management Solutions - оператор связи, предлагающий корпоративным клиентам комплексные решения в области мобильных телекоммуникаций для управления эффективностью финансовых и бизнес-процессов.
            p Компания работает на территории Российской Федерации с 2005 года и на сегодняшний день является одним из крупнейших операторов рынка мобильных сервисов по предоставлению услуг неголосовых сообщений.
            p Основной стратегией является предоставление сервисов в соответствии с мировыми стандартами надежности и безопасности, как с точки зрения технологической базы, так и с точки зрения конфиденциальности и легитимности предоставления услуг.

          .rightText
            p Миссия компании - обеспечить доступность и безопасность управления финансами в любой момент времени из любой точки мира с помощью мобильного телефона.
            p Среди клиентов, ценящих качество и безопасность наших услуг, - крупнейшие российские и зарубежные банки, страховые компании, управляющие компании, системы денежных переводов.
            p На сегодняшний день MFMSolutions занимает лидирующие позиции в области реализации и внедрения высокотехнологичных услуг дистанционного обслуживания клиентов.
            p Приоритетным направлением развития компании является создание инновационных сервисов на базе мобильных технологий.
