mixin sectionFirst
  .sectionFirst
    +header
    .wrappContent
      .description
        h1
          span Mobile Finance
          span Management Group
        .desc
          p группа компаний, создающая пользовательские мобильные решения и отраслевые решения для автоматизации бизнес процессов на стыке телекоммуникаций и IT-технологий
        .infoCompany
          .groupInfo
            .number 11
            .name лет на рынке
          .groupInfo
            .number 8
            .name компаний в группе
          .groupInfo
            .number  300+
            .name внедрений продуктов компаний
