mixin sectionForth
  .sectionForth
    .skew
      .wrappContent
        .massMedia
          .title
            h2 СМИ о нас
            svg.line#orange(viewBox="0 0 91 18")
              path(d='M1079.94 3625.26L989.062 3610.15L989.062 3608.84L1079.94 3623.9500000000003Z ', fill='#dc812e', transform='matrix(1,0,0,1,-989,-3608)')
          .thumbnailWrapp
            img(src="images/upload/brends/plas.jpg", alt="plas")
          .desc
            h4.date Журнал ПЛАС-Форум, 12.01.2015 г.
            a.link(data-target="modal2" class="modal-trigger" href="#modal2") Развитие ДБО: технологические катализаторы от MFMSolutions
            p Как показывает практика, дистанционное банковское обслуживание сегодня является одним из немногих направлений, где спрос прогрессирует более интенсивно, чем технологические возможности банков. Неслучайно внимание участников про-шедшего в июне 6-го Международного ПЛАС-Форума «Дистанционные сервисы, мобильные решения, карты и платежи 2015» было сфокусировано, в том числе, на Универсальной платформе ДБО MFMSolutions и ряде других решений, которые представила на своем выставочном стенде компания ОСК
        .news
          .title
            h2 Новости
            svg.line#orange(viewBox="0 0 91 18")
              path(d='M1079.94 3625.26L989.062 3610.15L989.062 3608.84L1079.94 3623.9500000000003Z ', fill='#dc812e', transform='matrix(1,0,0,1,-989,-3608)')
          .listNews
            .new
              .date 08.10.2016
              a.link(data-target="modal2" class="modal-trigger" href="#modal2") Развитие ДБО: технологические катализаторы от MFMSolutions
            .new
              .date 08.10.2016
              a.link(data-target="modal2" class="modal-trigger" href="#modal2") Развитие ДБО: технологические катализаторы от MFMSolutions
            .new
              .date 08.10.2016
              a.link(data-target="modal2" class="modal-trigger" href="#modal2") Развитие ДБО: технологические катализаторы от MFMSolutions


  #modal2.modal.newsModal
    a.modal-close(href='#!')
      svg#close(xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:svgjs='http://svgjs.com/svgjs', width='30', height='30')
        path#close(d='M1637.96 1024.89L1649.69 1013.2100000000002C1650.25 1012.6500000000002 1650.25 1011.7500000000001 1649.69 1011.1900000000002C1649.13 1010.6300000000002 1648.22 1010.6300000000002 1647.66 1011.1900000000002L1635.93 1022.8600000000001L1624.1000000000001 1011.0200000000001C1623.5400000000002 1010.45 1622.63 1010.45 1622.0700000000002 1011.0200000000001C1621.5100000000002 1011.58 1621.5100000000002 1012.4900000000001 1622.0700000000002 1013.0600000000001L1633.89 1024.89L1622.0200000000002 1036.71C1621.4600000000003 1037.26 1621.4600000000003 1038.17 1622.0200000000002 1038.72C1622.5900000000001 1039.28 1623.5000000000002 1039.28 1624.0600000000002 1038.72L1635.92 1026.92L1647.7 1038.72C1648.26 1039.28 1649.17 1039.28 1649.73 1038.72C1650.3 1038.15 1650.3 1037.24 1649.73 1036.68Z ', fill='#b8b9b9', transform='matrix(1,0,0,1,-1621,-1010)')
    .modal-content
      .date 08.10.2016
      h2 Развитие ДБО: технологические катализаторы от MFMSolutions
      .description
        .wrappImg
          img(src="images/upload/news1.jpg", alt="news1")
        strong В магазине Google Play без громких анонсов появилось новое мобильное приложение от Google под названием Crowdsource.
        p В отличие от разработанного компанией Amazon сервиса Mechanical Turk, новое приложение от Google не предполагает вознаграждения за выполнение заданий.
        p Для начала пользователю необходимо указать языки, которыми он владеет, после чего можно приступать к выполнению первых микрозаданий, среди которых переводы и их проверка, описание изображений, распознавание ручного письма. Набор предложенных задач каждый может выбирать
        p самостоятельно, а выполнение каждой их них занимает не более 10 секунд — как и множество вещей, которые мы вынуждены выполнять на веб-страницах, доказывая свою принадлежность к человеческой расе. Сайт Android Police, первым обнаруживший краудсорс-приложение, отмечает, что большинство картинокнавания почерк отлично подходит под описание «как курица лапой».
        blockquote
          p «Люди могут быть заинтересованы в использовании приложения потому, что для многих языков такие инструменты, как Translate и Image Recognition, работают не лучшим образом»
        p В Google отмечают, что нынешняя версия приложения не является финальной и обещают подумать над системой поощрений. Это не первый опыт использования краудсорсинга в Google. Так, в далёком 2006 году компания запустила игру Google Image Labeler, в которой пользователи маркировали изображения. Проект до сих пор существует.
