.sectionForth
  .skew
    padding-top: 35px
    min-height: 750px
    padding-bottom: 60px
    &:before
      background-color: #f4f4f4

  .title
    text-align: center
  h2
    color: #231f20
    font-size: 60px
    font-weight: 100
    text-align: center
    margin-bottom: 8px

  .thumbnailWrapp
    width: 221px
    height: 102px

  .date
    font-family: $defaultFontBold
    color: #231f20
    font-size: 18px
    font-weight: 700
    line-height: 22px
    margin-bottom: 8px

  .link
    color: #306497
    font-size: 24px
    font-weight: 300
    line-height: 30px
    text-decoration: underline
    display: block

  p
    color: #878787
    font-size: 16px
    font-weight: 400
    line-height: 24px


  .wrappContent
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
    max-width: 1132px

  .massMedia
    margin: 0 auto
    max-width: 90%
    width: 100%
    .desc
      margin-top: 20px
    .link
      margin-bottom: 20px
    .thumbnailWrapp
      position: relative
      margin-top: 15px
      display: flex
      align-items: center
      img
        position: absolute
        left: 0
        right: 0
        margin: auto

  .news
    margin: 20px auto
    max-width: 90%
    width: 100%

    .title

      margin-bottom: 14px
    .date
      font-size: 14px
      margin-bottom: 2px
    .listNews
      .new
        margin-top: 10px
        &:first-child
          margin-top: 0


@media #{$medium}
  .sectionForth

    .skew
      padding-bottom: 100px

@media #{$large}
  .sectionForth
    .skew
      padding-top: 85px
      padding-bottom: 0px

    h2
      text-align: left

    .title
      text-align: left


    .massMedia
      max-width: 538px
      width: 50%
      margin: 0
      .link
        margin-bottom: 28px

    .news
      max-width: 535px
      margin-top: 0
      width: 50%
      margin: 0
      .date
        font-size: 14px
        margin-bottom: 7px
      .listNews
        .new
          margin-top: 50px