.sectionFirst
  width: 100%
  position: relative
  background-image: url(../images/icons/bg.svg), url(../images/icons/backTop.png)
  background-position: center bottom, center top
  background-repeat: no-repeat, no-repeat
  min-height: auto
  background-color: #306497
  padding-bottom: 60px
  .header
    .flexB
      justify-content: space-between
      padding: 30px
      align-items: flex-start
    .address
      margin-top: 21px
      text-align: right
      display: flex
      .phone
        color: #fff
        text-decoration: none
        padding-right: 20px
        font-size: 20px
        letter-spacing: .5px
        white-space: nowrap
        display: flex
        margin-bottom: 10px
      .email
        color: #fff
        font-size: 16px
        white-space: nowrap

  .description
    max-width: 890px
    margin: 0 auto

    h1
      color: #fff
      font-size: 42px
      line-height: normal
      span
        &:first-child
          font-family: $defaultFontBold
          display: block
      span
        &:last-child
          display: block
          font-family: $defaultFontLight

  .desc
    margin-top: 27px
    p
      color: #fff
      font-family: $defaultFont
      font-size: 24px
      font-weight: 300
      line-height: 30px

  .infoCompany
    max-width: 840px
    margin-top: 24px
    color: #fff
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-direction: column
    min-height: 200px
    .groupInfo
      display: flex
      float: left
      align-items: center

      .number, .name
        width: auto


    .number
      font-size: 60px
      font-family: $defaultFontBold
      line-height: normal
      white-space: nowrap
      vertical-align: middle
    .name
      margin-left: 12px
      font-size: 16px
      font-weight: 300
      line-height: 24px
      text-align: left
      vertical-align: middle


@media #{$small}
  .sectionFirst
    .header
      .address
        display: block
        .phone
          padding-right: 0

@media #{$medium}
  .sectionFirst
    min-height: auto
    padding-bottom: 0px
    .header
      padding: 28px 0 0 0

      .address
        margin-top: 21px
        display: flex
        .phone
          display: inline
          margin-bottom: 0px
          padding-right: 20px


    .description
      margin-top: 106px
      margin-left: 93px
      h1
        font-size: 100px
        line-height: 95px

    .infoCompany
      margin-top: 48px
      flex-direction: row
      .groupInfo
        display: flex
        float: left
        align-items: center
        &:first-child
          width: auto
          .number
            width: 112px
          .name
            margin-left: 0
            width: 90px
        &:nth-child(2)
          width: auto
          .number
            width: 60px
          .name
            width: 130px
        &:last-child
          width: auto
          .number
            width: 230px
          .name
            width: 135px

      .number
        font-size: 100px
        font-family: $defaultFontBold
        line-height: 73px
        white-space: nowrap
        vertical-align: middle
      .name
        margin-left: 12px
        font-size: 24px
        font-weight: 300
        line-height: 24px
        text-align: left
        vertical-align: middle

    .desc
      p
        font-size: 24px

@media #{$xLarge}
  .sectionFirst
    min-height: 1022px