.sectionSecond
  width: 100%
  position: relative
  z-index: 2
  margin-top: 0
  .skew
    min-height: 970px

    .title
      text-align: center
    h2
      padding-top: 73px
      color: #231f20
      margin-bottom: 9px

  .groupCompany
    margin: 0 auto
    max-width: 1000px
    .company
      width: 340px
      @for $i from 1 through 4
        .description
          margin: 0 auto
          text-align: center
          width: 257px
        &:nth-child(#{$i})
          &:after
            margin: 0 auto
            content: ''
            display: block
            height: 1px
            width: 140px
            background-color: #d3d2d2

      .wrappImg
        height: 134px
        display: flex
        justify-content: center
        align-content: center
        align-items: center

      .link
        font-family: $defaultFont
        display: inline-block
        font-weight: 300
        color: #306497
        font-size: 30px
        line-height: 30px
        text-decoration: none
        margin-bottom: 15px
        border-bottom: solid 2px #306497

      .desc
        height: 127px
        overflow: hidden
        p
          font-size: 16px
          font-weight: 400
          line-height: 22px

@media #{$xLarge}
  .sectionSecond
    margin-top: -170px
    .groupCompany
      max-width: 100%
