.sectionFirst
  width: 100%
  position: relative
  background-image: url(../images/bg.svg)
  height: 1022px
  background-color: #306497
  .header
    // background-color: #306497
    // min-height: 117px
    .flexB
      justify-content: space-between
      padding-top: 28px
    .address
      .phone
        color: #fff
        text-decoration: none
        padding-right: 15px
        font-size: 20px
      .email
        color: #fff
        font-size: 16px

  .description
    max-width: 830px
    margin-top: 117px
    h1
      color: #fff
      font-size: 100px
      span
        &:first-child
          font-family: $defaultFontBold
          display: block
      span
        &:last-child
          display: block
          font-family: $defaultFontThin

  .desc
    margin-top: 27px
    p
      color: #fff
      font-family: $defaultFont
      font-size: 24px
      font-weight: 300
      line-height: 30px

  .infoCompany
    max-width: 830px
    justify-content: space-between
    margin-top: 48px
    .info
      color: #fff
      display: flex
      .number
        display: flex
        align-items: flex-end
        &:first-child
          width: 200px
        span
          &:first-child
            font-size: 100px
            font-family: $defaultFontBold
            line-height: 73px
        span
          &:last-child
            padding-left: 14px
            font-size: 24px
            font-weight: 300
            line-height: 24px