.sectionFirst
  width: 100%
  position: relative
  background-image: url(../images/bg.svg)
  background-position: center bottom
  height: 1022px
  background-color: #306497
  .header
    .flexB
      justify-content: space-between
      padding: 30px
      align-items: flex-start
    .address
      margin-top: 21px
      .phone
        color: #fff
        text-decoration: none
        padding-right: 20px
        font-size: 20px
        letter-spacing: .5px
        white-space: nowrap
        display: flex
        margin-bottom: 10px
      .email
        color: #fff
        font-size: 16px
        white-space: nowrap

  .description
    max-width: 830px
    margin: 0 auto

    h1
      color: #fff
      font-size: 42px
      line-height: normal
      span
        &:first-child
          font-family: $defaultFontBold
          display: block
      span
        &:last-child
          display: block
          font-family: $defaultFontLight

  .desc
    margin-top: 27px
    p
      color: #fff
      font-family: $defaultFont
      font-size: 24px
      font-weight: 300
      line-height: 30px

  .infoCompany
    max-width: 830px
    justify-content: flex-start
    margin-top: 24px
    .info
      color: #fff
      display: flex
      width: 100%
      .number
        display: flex
        align-items: center
        width: 100%
        flex-direction: column
        text-align: center
        span
          &:first-child
            font-size: 50px
            font-family: $defaultFontBold
            line-height: normal
        span
          &:last-child
            padding-left: 14px
            font-size: 24px
            font-weight: 300
            line-height: 24px

@media #{$medium}
  .sectionFirst
    .header
      padding: 28px 0 0 0

      .address
        margin-top: 21px
        .phone
          display: inline
          margin-bottom: 0px


    .description
      margin-top: 106px
      margin-left: 93px
      h1
        font-size: 100px
        line-height: 95px

    .infoCompany
      margin-top: 48px
      .info
        width: auto
        .number
          flex-direction: row
          &:first-child
            width: 200px
            margin-right: 47px
          &:nth-child(2)
            width: 175px
            margin-right: 65px
          span
            &:first-child
              font-size: 100px
              font-family: $defaultFontBold
              line-height: 73px
          span
            &:last-child
              padding-left: 14px
              font-size: 24px
              font-weight: 300
              line-height: 24px
    .desc
      p
        font-size: 24px

