@import variables

*
  outline: none
  box-sizing: border-box
  &:before
    box-sizing: border-box

html
  width: 100%
  height: 100%
  font-size: 16px
  font-family: $defaultFont
  color: $defaultColor
  font-weight: 400
  word-wrap: break-word
  overflow-wrap: break-word
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

body
  width: 100%
  height: 100%
  font-family: inherit
  color: inherit
  min-height: 100%
  height: auto
  max-width: 100%
  background-color: #fff
  overflow-y: auto
  overflow-x: hidden
  background-color: #628292
  min-width: 320px

h1
  color: white
  font-size: 34px
  font-weight: 500

h2
  color: white
  font-size: 60px
  font-weight: 100
  font-family: $defaultFontThin
  text-align: center
  display: block


p
  font-size: 16px
  font-weight: 400
  line-height: normal

img
  max-width: 100%
  height: auto
  -ms-interpolation-mode: bicubic
  display: inline-block
  vertical-align: middle

iframe
    width: 100%
    height: 100%
a
  &:visited
    color: inherit

.flexB
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
  width: 100%

.wrappContent
  margin: 0 auto
  max-width: 1400px
  padding: 30px
  @media #{$medium}
    padding: 0

.skew
  position: relative
  z-index: 2
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    bottom: 0
    overflow: visible
    width: 100%
    background: #fff
    z-index: -1
    transform: skewY(10deg)
    backface-visibility: initial

.line
  display: inline-block
  width: 91px
  height: 18px

#orange
  path
    fill: #dc812e
#blue
  path
    fill: #306497

// Footer ----------------------------------------------------------------------
.footer
  display: flex
  height: 90px
  background-color: #f4f4f4
  background-image: linear-gradient(to top, #306497 0%, #306497 58%, #155481 100%)
  color: #fff
  align-items: center
  z-index: 3

.contact
  max-width: 1400px
  position: relative
  width: 100%
  margin: -125px auto 0
  height: 668px
  .contactInfo
    width: 385px
    height: 524px
    color: #fff
    right: 242px
    position: absolute
    top: 0
    .wrappContact

      height: 460px
      padding: 63px 36px 0px 46px

    .skew

      &:before
        background-color: #dc812e
      &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: -30px
        overflow: visible
        width: 100%
        background-image: url(../images/backContact.svg)
        background-position: bottom
        background-repeat: no-repeat
        z-index: -1


    .title
      font-size: 36px
      font-weight: 700
      font-family: $defaultFontThin
      margin-bottom: 26px
    .addresstitle
      font-size: 14px
      font-weight: 700
      font-family: $defaultFontBold
      text-transform: uppercase
      margin-top: 30px
      margin-bottom: 8px
    p,
    a
      font-size: 18px
      font-weight: 300
      line-height: 24px
      text-decoration: none
      color: #fff
      &.email
        text-decoration: underline

#map
  width: 100%
  height: 100%

@import _sprite
@import _header
@import _sectionFirst
@import _sectionSecond
@import _sectionThird
@import _sectionForth
