@import variables

*
  outline: none
  box-sizing: border-box
  &:before
    box-sizing: border-box

html
  width: 100%
  height: 100%
  font-size: 16px
  font-family: $defaultFont
  color: $defaultColor
  font-weight: 400
  word-wrap: break-word
  overflow-wrap: break-word
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

body
  width: 100%
  height: 100%
  font-family: inherit
  color: inherit
  min-height: 100%
  height: auto
  max-width: 100%
  background-color: #fff
  overflow-y: auto
  overflow-x: hidden
  background-color: #306497
  min-width: 320px

h1
  color: white
  font-size: 34px
  font-weight: 500

h2
  color: white
  font-size: 48px
  font-weight: 100
  font-family: $defaultFontThin
  text-align: center
  display: block
  @media #{$medium}
    font-size: 60px

p
  font-size: 16px
  font-weight: 400
  line-height: normal

img
  max-width: 100%
  height: auto
  -ms-interpolation-mode: bicubic
  display: inline-block
  vertical-align: middle

iframe
    width: 100%
    height: 100%
a
  &:visited
    color: inherit

.flexB
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
  width: 100%

.wrappContent
  margin: 0 auto
  max-width: 1400px
  padding: 20px
  @media #{$medium}
    padding: 0

.skew
  position: relative
  z-index: 2
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    bottom: 0
    overflow: visible
    width: 100%
    background: #fff
    z-index: -1
    transform: skewY(10deg)
    backface-visibility: initial

.line
  display: inline-block
  width: 91px
  height: 18px

#orange
  path
    fill: #dc812e
#blue
  path
    fill: #306497


@import _sprite
@import _carusels
@import _modal
@import _footer
@import _sectionFirst
@import _sectionSecond
@import _sectionThird
@import _sectionForth
